openapi: 3.1.0
info:
  title: SCB Statistikdatabasen PxWebApi v2
  version: 1.0.0
  description: Nyckelfri åtkomst till SCB:s Statistikdatabas. Använd metadata före data.
servers:
  - url: https://statistikdatabasen.scb.se/api/v2
paths:
  /tables:
    get:
      operationId: searchScbTables
      summary: Sök tabeller i SCB Statistikdatabasen
      parameters:
        - name: query
          in: query
          required: true
          schema: {type: string}
        - name: lang
          in: query
          required: false
          schema: {type: string, enum: [sv, en], default: sv}
        - name: pageSize
          in: query
          required: false
          schema: {type: integer, minimum: 1, maximum: 100, default: 10}
      responses:
        '200':
          description: Matchande tabeller
          content:
            application/json:
              schema: {type: object, additionalProperties: true}
  /tables/{id}/metadata:
    get:
      operationId: getScbTableMetadata
      summary: Hämta metadata för en SCB-tabell
      parameters:
        - name: id
          in: path
          required: true
          schema: {type: string}
        - name: lang
          in: query
          required: false
          schema: {type: string, enum: [sv, en], default: sv}
      responses:
        '200':
          description: Tabellmetadata
          content:
            application/json:
              schema: {type: object, additionalProperties: true}
  /tables/{id}/data:
    post:
      operationId: getScbTableData
      summary: Hämta verifierat urval från en SCB-tabell
      parameters:
        - name: id
          in: path
          required: true
          schema: {type: string}
        - name: lang
          in: query
          required: false
          schema: {type: string, enum: [sv, en], default: sv}
        - name: outputFormat
          in: query
          required: false
          schema: {type: string, default: json-stat2}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [selection]
              properties:
                selection:
                  type: array
                  minItems: 1
                  items:
                    type: object
                    required: [variableCode, valueCodes]
                    properties:
                      variableCode: {type: string}
                      valueCodes:
                        type: array
                        minItems: 1
                        items: {type: string}
                      codelist:
                        type: [string, 'null']
      responses:
        '200':
          description: Statistikdata
          content:
            application/json:
              schema: {type: object, additionalProperties: true}
